*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-size: 14px;
}
.App{
  width:100%;
  margin:0 auto
} 
.header{
    background-color:#3e3e3e;
    color:white;
    padding:2em;
    text-align:center;
    
}
.btn-grp{
  text-align: center;
  margin: 1em 0em;
  
}
.btn{
  border-radius: 4px;
  padding:0.5em;
  margin:0 1em;
}
#btn-cases:hover{
  background-color:blue;
  color: white;
}
#btn-deaths:hover{
  background-color:red;
  color: white;
}
#btn-recovered:hover{
  background-color:green;
  color: white;
}
.map-wrapper{
  min-height: 80vh;
  padding:0.2em;
  margin: 1em;
}
.footer{
  background-color:black;
  color:white;
  padding:2em;
  text-align:center;
}

